# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=localhost;userid=root;password=root;database=fivem;"

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog
ensure mysql-async

ensure my-resource

sv_scriptHookAllowed 0

sets tags "default"
sets locale "root-AQ" 

sv_hostname "FXServer, but unconfigured"
sets sv_projectName "My FXServer Project"
sets sv_projectDesc "Default FXServer requiring configuration"

set temp_convar "hey world!"

add_ace group.admin command allow 
add_ace group.admin command.quit deny 
add_principal identifier.fivem:1 group.admin 

set onesync on
sv_maxclients 2

# Replace with your actual keys
set steam_webApiKey "FC6B5972D3D9F407863DE9D7C0D36418"
sv_licenseKey "cfxk_1filhgIdQHCOP3zccEowG_3x5mqq"